@charset "UTF-8";

:root {
  --color-text: hsl(229, 25%, 31%);
  --color-score: hsl(229, 64%, 46%);
  --color-header-outline: hsl(217, 16%, 45%);
  --gradient-start-paper: hsl(230, 89%, 62%);
  --gradient-end-paper: hsl(230, 89%, 65%);
  --gradient-start-scissors: hsl(39, 89%, 49%);
  --gradient-end-scissors: hsl(40, 84%, 53%);
  --gradient-start-rock: hsl(349, 71%, 52%);
  --gradient-end-rock: hsl(349, 70%, 56%);
}

/*---------------------------------------------------------------------------------------------------*/

/*-_-_-_-_-_-_- typography -_-_-_-_-_-_- */

/*---------------------------------------------------------------------------------------------------*/

:root {
  --font-base: 'Barlow Semi Condensed', sans-serif;
}

/*---------------------------------------------------------------------------------------------------*/

/*-_-_-_-_-_-_- colors -_-_-_-_-_-_- */

/*---------------------------------------------------------------------------------------------------*/

/* Fonction toute prête pour gérer Rem et Pixel en fonction des supports des navigateurs. */

:root {
  --gap: 8px;
}

:root {
  --container-padding: 20px;
  --container-width: 100%;
}

.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.container-full {
  box-sizing: border-box;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.container-margin {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.container-narrow {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

strong,
b {
  font-weight: bold;
}

ul,
ol {
  list-style-type: none;
}

table {
  border: 0;
  border-spacing: 0;
  empty-cells: show;
  border-collapse: 0;
}

th,
td {
  text-align: left;
  font-weight: normal;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  -ms-text-size-adjust: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3;
  font-family: var(--font-base);
  color: var(--color-text);
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font-size: 100%;
  border: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  border-radius: 0;
}

/* input[type="number"] {
     -webkit-appearance: textfield;
     -moz-appearance:textfield;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #020024;
  background: radial-gradient(circle, #1f3756 0%, #141539 100%);
  padding-top: 48px;
}

.title {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 68px;
  text-shadow: 2px 2px 5px #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 704px;
  margin-inline: auto;
  border: 2px solid var(--color-header-outline);
  border-radius: 16px;
  padding: 24px 32px;
  margin-bottom: 60px;
}

.logo img {
  display: block;
}

.score {
  display: grid;
  place-items: center;
  text-align: center;
  width: 150px;
  height: 115px;
  border-radius: 8px;
  background: #fff;
  line-height: 1;
}

.score span {
  display: block;
  margin-bottom: 8px;
  color: var(--color-score);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.score strong {
  font-size: 45px;
  font-weight: 700;
  transition: ease-out;
}

.score strong.changing {
  animation: score 500ms infinite;
}

.rules-btn {
  display: grid;
  place-items: center;
  position: absolute;
  right: 32px;
  bottom: 32px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid var(--color-header-outline);
  border-radius: 8px;
  width: 130px;
  height: 42px;
  cursor: pointer;
}

/* CHOICES */

.choices {
  position: relative;
  margin-inline: auto;
  width: 704px;
  height: 432px;
  background: url("../images/bg-triangle.svg") center no-repeat;
}

.choice,
.waiting-choice {
  display: grid;
  place-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 6px 0 rgba(0, 0, 0, 0.5), inset 0 -10px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.choice span,
.waiting-choice span {
  transition: all 0.2s ease;
  display: grid;
  place-items: center;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 4px 10px 2px rgba(0, 0, 0, 0.5);
}

.choice img,
.waiting-choice img {
  height: 80px;
}

.choices .choice,
.choices .waiting-choice {
  cursor: pointer;
}

.choices .choice:active,
.choices .waiting-choice:active {
  box-shadow: none;
  margin-top: 4px;
}

.choices .choice:active.rock,
.choices .waiting-choice:active.rock {
  margin-top: 0;
  margin-bottom: -4px;
}

.choices .choice:active span,
.choices .waiting-choice:active span {
  box-shadow: inset 0 -4px 10px 2px rgba(0, 0, 0, 0.5);
}

.choice span,
.waiting-choice span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.choice.paper,
.paper.waiting-choice {
  left: 0;
  top: 0;
  transform: translateX(50%);
  background-image: radial-gradient(circle, var(--gradient-start-paper) 0%, var(--gradient-end-paper) 100%);
}

.choice.paper span,
.paper.waiting-choice span {
  background-image: url("../images/icon-paper.svg");
}

.choice.scissors,
.scissors.waiting-choice {
  right: 0;
  top: 0;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, var(--gradient-start-scissors) 0%, var(--gradient-end-scissors) 100%);
}

.choice.scissors span,
.scissors.waiting-choice span {
  background-image: url("../images/icon-scissors.svg");
}

.choice.rock,
.rock.waiting-choice {
  left: 50%;
  bottom: 4px;
  transform: translate(-50%, 0);
  background-image: radial-gradient(circle, var(--gradient-start-rock) 0%, var(--gradient-end-rock) 100%);
}

.choice.rock span,
.rock.waiting-choice span {
  background-image: url("../images/icon-rock.svg");
}

/* // CHOICES */

/* MODAL */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal .content {
  width: 400px;
  background: #fff;
  border-radius: 8px;
  padding: 40px 32px;
  margin-inline: auto;
}

.modal .content .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.modal .content .head .title {
  margin: 0;
}

.modal .content .head .close {
  cursor: pointer;
}

.modal .content .rule {
  text-align: center;
}

/* // MODAL */

/* BATTLE */

.battle {
  display: none;
  position: relative;
  width: 670px;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  transition: 350ms ease-out;
}

.battle .choice,
.battle .waiting-choice {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  transform: none;
  transform: scale(1.45);
  transform-origin: top center;
}

.waiting-choice {
  background: none;
  box-shadow: none;
  animation: waiting 1s infinite;
}

.waiting-choice span {
  background: rgba(0, 0, 0, 0.3);
  opacity: .5;
  box-shadow: none;
}

/* //BATTLE */

/* RESULT */

.result {
  width: 950px;
}

.action {
  visibility: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-top: 170px;
}

.action .text {
  text-shadow: 2px 2px 5px #000;
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1;
}

.action .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  color: #dd405d;
  height: 48px;
  cursor: pointer;
}

.result .action {
  visibility: visible;
}

.winner {
  isolation: isolate;
}

.winner:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 50%;
  transition: 350ms ease-out;
  animation: pulse 1000ms infinite;
}

.reset {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: #fff;
}

.reset:hover {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(2.5);
  }

  40% {
    transform: scale(1.25);
  }

  60% {
    transform: scale(2.5);
  }

  80% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes waiting {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes score {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1500px) {
  :root {
    --container-width: 1366px;
  }
}
/*# sourceMappingURL=styles.css.map */
