@import '_global';

body {
  height: 100vh;
  background: rgb(2,0,36);
  background: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
  padding-top: 48px;
}

.title {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 68px;
  text-shadow: 2px 2px 5px #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 704px;
  margin-inline: auto;
  border: 2px solid var(--color-header-outline);
  border-radius: 16px;
  padding: 24px 32px;
  margin-bottom: 60px;
}
.logo img {
  display: block;
}
.score {
  display: grid;
  place-items: center;
  text-align: center;
  width: 150px;
  height: 115px;
  border-radius: 8px;
  background: #fff;
  line-height: 1;
}
.score span {
  display: block;
  margin-bottom: 8px;
  color: var(--color-score);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.score strong {
  font-size: 45px;
  font-weight: 700;
}

.rules-btn {
  display: grid;
  place-items: center;
  position: absolute;
  right: 32px;
  bottom: 32px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid var(--color-header-outline);
  border-radius: 8px;
  width: 130px;
  height: 42px;
  cursor: pointer;
}

/* CHOICES */
.choices {
  position: relative;
  margin-inline: auto;
  width: 704px;
  height: 432px;
  background: url('../images/bg-triangle.svg') center no-repeat;
}
.choice {
  display: grid;
  place-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  //border: 24px solid;
  box-shadow: 1px 6px 0 rgba(0,0,0,.5), inset 0 -10px 0 rgba(0,0,0,.3);
  transition: all 0.2s ease;
}
.choice span {
  transition: all 0.2s ease;
  display: grid;
  place-items: center;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset -0 4px 10px 2px rgba(0,0,0,.5);
}
.choice img {
  height: 80px;
}
.choices .choice {
  cursor: pointer;
}
.choices .choice:active {
  box-shadow: none;
  margin-top: 4px;

  &.rock {
    margin-top: 0;
    margin-bottom: -4px;
  }
  span {
    box-shadow: inset -0 -4px 10px 2px rgba(0,0,0,.5);
  }
}
.choice span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}
.choice.paper {
  left: 0;
  top: 0;
  transform: translateX(50%);
  background-image: radial-gradient(circle, var(--gradient-start-paper) 0%, var(--gradient-end-paper) 100%);
}
.choice.paper span {
  background-image: url('../images/icon-paper.svg');
}
.choice.scissors {
  right: 0;
  top: 0;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, var(--gradient-start-scissors) 0%, var(--gradient-end-scissors) 100%);
}
.choice.scissors span {
  background-image: url('../images/icon-scissors.svg');
}
.choice.rock {
  left: 50%;
  bottom: 4px;
  transform: translate(-50%, 0);
  background-image: radial-gradient(circle, var(--gradient-start-rock) 0%, var(--gradient-end-rock) 100%);
}
.choice.rock span {
  background-image: url('../images/icon-rock.svg');
}
/* // CHOICES */

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  place-items: center;
  background: rgba(0,0,0,.5);
}
.modal .content {
  width: 400px;
  background: #fff;
  border-radius: 8px;
  padding: 40px 32px;
  margin-inline: auto;
}
.modal .content .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.modal .content .head .close {
  cursor: pointer;
}
.modal .content .rule {
  text-align: center;
}
/* // MODAL */

/* BATTLE */
.battle {
  display: none;
  position: relative;
  width: 670px;
  margin-inline: auto;
  //display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 350ms ease-out;
}
.battle .choice {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  transform: none;
  transform: scale(1.45);
  transform-origin: top center;
}
.waiting-choice {
  @extend .choice;
  background: none;
  box-shadow: none;
}
.waiting-choice span {
  background: rgba(0,0,0,.3);
  opacity: .5;
  box-shadow: none;
}
/* //BATTLE */

/* RESULT */
.result {
  width: 950px;
}
.action {
  visibility: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-top: 170px;
}
.action .text {
  text-shadow: 2px 2px 5px #000;
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1;
}
.action .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  color: hsl(349, 70%, 56%);
  height: 48px;
  cursor: pointer;

}
.result .action {
  visibility: visible;
}
.winner {
  isolation: isolate;
}
.winner:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(255,255,255,.02);
  border-radius: 50%;
  transition: 350ms ease-out;
  animation: pulse 1000ms infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.5);
  }
  40% {
    transform: scale(1.25);
  }
  60% {
    transform: scale(2.5);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}