@import '_global';

body {
  height: 100vh;
  background: rgb(2,0,36);
  background: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
  padding-top: 48px;
}

.title {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 68px;
  text-shadow: 2px 2px 5px #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 704px;
  margin-inline: auto;
  border: 2px solid var(--color-header-outline);
  border-radius: 16px;
  padding: 24px 32px;
  margin-bottom: 60px;

  @include down(830) {
    width: 60%;
    margin-bottom: 170px;
  }
  @include down(830) {
    margin-bottom: 70px;
  }
}
.logo img {
  display: block;

  @include down(830) {
    max-width: 100px;
  }
  @include down(768) {
    max-width: 80px;
  }
}
.score {
  display: grid;
  place-items: center;
  text-align: center;
  width: 150px;
  height: 115px;
  border-radius: 8px;
  background: #fff;
  line-height: 1;

  @include down(830) {
    max-width: 80px;
    height: auto;
    padding-block: 12px;
  }
  @include down(830) {
    max-width: 60px;
  }
}
.score span {
  display: block;
  margin-bottom: 8px;
  color: var(--color-score);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include down(768) {
    font-size: 10px;
  }
}
.score strong {
  font-size: 45px;
  font-weight: 700;
  transition: ease-out;

  @include down(830) {
    font-size: 32px;
  }
  @include down(768) {
    font-size: 24px;
  }
}
.score strong.changing {
  animation: score 500ms infinite;
}

.rules-btn {
  display: grid;
  place-items: center;
  position: absolute;
  right: 32px;
  bottom: 32px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid var(--color-header-outline);
  border-radius: 8px;
  width: 130px;
  height: 42px;
  cursor: pointer;

  @include down(768) {
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
  }
}

/* CHOICES */
.choices {
  position: relative;
  margin-inline: auto;
  width: 704px;
  height: 432px;
  background: url('../images/bg-triangle.svg') center no-repeat;

  @include down(830) {
    width: 600px;
    height: 350px;
    background-size: contain;
  }
  @include down(768) {
    width: 250px;
    height: 250px;
    background-size: contain;
  }
}
.choice {
  display: grid;
  place-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  //border: 24px solid;
  box-shadow: 1px 6px 0 rgba(0,0,0,.5), inset 0 -10px 0 rgba(0,0,0,.3);
  transition: all 0.2s ease;

  @include down(830) {
    width: 160px;
    height: 160px;
    box-shadow: 1px 3px 0 rgba(0,0,0,.5), inset 0 -5px 0 rgba(0,0,0,.3);
  }
  @include down(768) {
    width: 105px;
    height: 105px;
    box-shadow: 1px 3px 0 rgba(0,0,0,.5), inset 0 -5px 0 rgba(0,0,0,.3);
  }
}
.choice span {
  transition: all 0.2s ease;
  display: grid;
  place-items: center;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset -0 4px 10px 2px rgba(0,0,0,.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;

  @include down(830) {
    width: 125px;
    height: 125px;
    background-size: 60px;
  }
  @include down(768) {
    width: 80px;
    height: 80px;
    background-size: 40px;
  }
}
.choices .choice {
  cursor: pointer;
}
.choices .choice:active {
  box-shadow: none;
  margin-top: 4px;

  &.rock {
    margin-top: 0;
    margin-bottom: -4px;
  }
  span {
    box-shadow: inset -0 -4px 10px 2px rgba(0,0,0,.5);
  }
}
.choice.paper {
  left: 0;
  top: 0;
  transform: translateX(50%);
  background-image: radial-gradient(circle, var(--gradient-start-paper) 0%, var(--gradient-end-paper) 100%);

  @include down(830) {
    top: -50px;
    left: -30px;
  }
  @include down(768) {
    top: -30px;
    left: -75px;
  }
}
.choice.paper span {
  background-image: url('../images/icon-paper.svg');
}
.choice.scissors {
  right: 0;
  top: 0;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, var(--gradient-start-scissors) 0%, var(--gradient-end-scissors) 100%);

  @include down(830) {
    top: -50px;
    right: -30px;
  }
  @include down(768) {
    top: -30px;
    right: -75px;
  }
}
.choice.scissors span {
  background-image: url('../images/icon-scissors.svg');
}
.choice.rock {
  left: 50%;
  bottom: 4px;
  transform: translate(-50%, 0);
  background-image: radial-gradient(circle, var(--gradient-start-rock) 0%, var(--gradient-end-rock) 100%);

  @include down(830) {
    bottom: -50px;
  }
  @include down(768) {
    bottom: -30px;
  }
}
.choice.rock span {
  background-image: url('../images/icon-rock.svg');
}
/* // CHOICES */

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  place-items: center;
  background: rgba(0,0,0,.5);
}
.modal .content {
  width: 400px;
  background: #fff;
  border-radius: 8px;
  padding: 40px 32px;
  margin-inline: auto;

  @include down(830) {
    max-width: 300px;
  }
}
.modal .content .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.modal .content .head .title {
  margin: 0;
}
.modal .content .head .close {
  cursor: pointer;
}
.modal .content .rule {
  text-align: center;
}
/* // MODAL */

/* BATTLE */
.battle {
  display: none;
  position: relative;
  width: 670px;
  margin-inline: auto;
  //display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 350ms ease-out;

  @include down(830) {
    max-width: 80%;
  }
  @include down(768) {
    max-width: 80%;
    gap: 24px;
  }
}
.battle .choice {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  transform: none;
  transform: scale(1.45);
  transform-origin: top center;

  @include down(830) {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
  }
  @include down(830) {
    margin-top: -30px;
  }
}
.waiting-choice {
  @extend .choice;
  background: none;
  box-shadow: none;
  animation: waiting 1s infinite;

  @include down(830) {
    margin-left: 55px;
  }
}
.waiting-choice span {
  background: rgba(0,0,0,.3);
  opacity: .5;
  box-shadow: none;

  @include down(830) {
    margin-inline: auto;
  }
}
/* //BATTLE */

/* RESULT */
.result {
  width: 950px;
}

@include down(830) {
  .battle .you .choice {
    margin-left: 6px;
  }
  .battle .computer .choice {
    margin-left: 50px;
  }
  max-width: 100%;
}
@include down(768) {
  .battle .you, .battle .computer {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
  }
  .battle .you .choice,
  .battle .computer .choice {
    transform: none;
    margin-inline: auto;
    margin-bottom: 24px;
  }
  .result {
    align-items: flex-start;
  }
  .battle .you .title,
  .battle .computer .title {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.action {
  visibility: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-top: 170px;

  @include down(830) {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
  @include down(768) {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.action .text {
  text-shadow: 2px 2px 5px #000;
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1;

  @include down(768) {
    font-size: 40px;
  }
}
.action .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  color: hsl(349, 70%, 56%);
  height: 48px;
  cursor: pointer;

}
.result .action {
  visibility: visible;
}
.winner {
  isolation: isolate;
}
.winner:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(255,255,255,.02);
  border-radius: 50%;
  transition: 350ms ease-out;
  animation: pulse 1000ms infinite;
}
.reset {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: #fff;

  @include down(768) {
    left: 50%;
    transform: translateX(-50%);
  }
}
.reset:hover {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.5);
  }
  40% {
    transform: scale(1.25);
  }
  60% {
    transform: scale(2.5);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes waiting {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes score {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}