//
// variables
// --------------------------------------------------

:root {
  --color-text: hsl(229, 25%, 31%);
  --color-score: hsl(229, 64%, 46%);
  --color-header-outline: hsl(217, 16%, 45%);

  --gradient-start-paper: hsl(230, 89%, 62%);
  --gradient-end-paper: hsl(230, 89%, 65%);
  --gradient-start-scissors: hsl(39, 89%, 49%);
  --gradient-end-scissors: hsl(40, 84%, 53%);
  --gradient-start-rock: hsl(349, 71%, 52%);
  --gradient-end-rock: hsl(349, 70%, 56%);

}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- typography -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
:root {
  --font-base: 'Barlow Semi Condensed', sans-serif;
}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- colors -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
